C:\projects\angular5firebasecrud\angular5firebasecrud\src\environments\environment.prod.ts
C:\projects\angular5firebasecrud\angular5firebasecrud\src\environments\environment.ts
angular5firebasecrud/src/environments/environment.prod.ts
angular5firebasecrud/src/environments/environment.ts
