<h6 class="text-center"></h6><br/>
<table class="table table-sm table-hover table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Activity</th>
          <th scope="col">Location</th>
          <th scope="col">Cost</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
<tbody>
  <tr *ngFor="let employee of employeeList">
      <td>{{employee.name}}</td>
      <td>{{employee.activity}}</td>
      <td>{{employee.location}}</td> 
      <td>{{employee.cost}}</td>
      <td>
        <a class="btn" (click)="onEdit(employee)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </td>
      <td>  
        <a class="btn" (click)="onDelete(employee.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</tbody>
</table>