/* You can add global styles to this file, and also import other style files */


@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover,a.btn:hover{
    cursor: pointer;
   }

   .container {padding-left: 0%; padding-right: 0%}